.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  overflow: none;
  z-index: 999;
}

.card {
  flex: 0 0 calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: filter 0.3s ease;
  transform-origin: center;
  filter: blur(0);
  z-index: 999;
}

.card:hover {
  filter: none;
}

.cards:hover .card:not(:hover) {
  filter: blur(5px);
}

.card img {
  width: 15%;
  height: auto; 
  color: beige;
  filter: brightness(02) invert(); 
}

.card .p1 {
  font-size: 30px;
  margin-top: 10px;
  color: beige;
}

.card .p2 {
  font-size: 16px;
  margin-top: 10px;
  color: beige;
}

/* Media queries for different screen sizes */

@media screen and (min-width: 769px) {
  .cards {
    height: 100vh; /* Adjusted for desktop */
    /* background: linear-gradient(135deg, #43cea2, #185a9d); */
  }

  .card img {
    width: 30%;
  }

  .card .p1 {
    font-size: 25px;
  }

  .card .p2 {
    font-size: 12px;
  }
}

@media screen and (max-width: 1020px) {
  .cards {
    height: 50vh; /* Adjusted for laptops */
  }

  .card img {
    width: 20%;
  }

  .card .p1 {
    font-size: 20px;
  }

  .card .p2 {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    height: auto; /* Adjusted for mobile devices */
    /* background: linear-gradient(135deg, #43cea2, #185a9d); */
  }

  .card img {
    width: 40%;
  }

  .card .p1 {
    font-size: 18px;
  }

  .card .p2 {
    font-size: 12px;
  }
}
